.header{
    
    
    left:0;
    top:0;
    right:0;
    width:100vw;
    height:7vh;
    border-bottom: 1px solid gray;
    background-color: white;
}
.div1{
    /*background-color: rgb(146, 36, 36);*/
    margin-left:10px;
    margin-top: 3px;
    margin-bottom:3px;
    font-size: small;
    height:6vh;
    background-image: url(./bobtudylogo.png);
    background-repeat: no-repeat;
    background-size:contain;
   
}
.div2{
   /* background-color: rgb(198, 28, 115);
    border-right:2px solid gray;*/
    display: inline-block;
    text-align: left;
    font-weight: 900;
    color:#dd2eea;
    font-size:25px;
    display : flex;
   
    align-items : center;
    overflow: hidden;
}
.div3{
    /*background-color: rgb(98, 44, 193);*/
    
}
.div4{
    
}
.headergrid{
    display: grid;
    grid-template-columns: 0.5fr 1fr 7fr 1.5fr;
    
}
.headerButton{
    box-shadow:30px 30px 80px rgba(55,84,170,0.1), -30px -30px 80px rgba(255,255,255,.8);
    display: inline-block;
    font-weight: 900;
    margin-top: 3px;
    overflow: hidden;
    height: 6vh;
    width: 20vh;
    
    background-repeat: no-repeat;
    background-position: center;
    /*background-size:auto;*/
   /* background-attachment: fixed;*/
    object-fit:scale-down;
    border-radius: 10px;
    border:none;
    background-color: #dd2eea;
    color: white;
}
.headerButton:hover{
    box-shadow:30px 30px 80px rgba(55,84,170,0.1), -30px -30px 80px rgba(255,255,255,.8);
    display: inline-block;
    font-weight: 900;
    margin-top: 3px;
    overflow: hidden;
    height: 6vh;
    width: 20vh;
    
    background-repeat: no-repeat;
    background-position: center;
    /*background-size:auto;*/
   /* background-attachment: fixed;*/
    object-fit:scale-down;
    border-radius: 10px;
    border:none;
    background-color: #dd2eea;
    color: white;
}