.Register2 {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  background-color:rgba(255, 255, 255, 0.85);
  height: 200vh;
  display: flex;
  flex-direction: column;

}

@font-face {
  font-family: "NanumMyeongjo-Regular";
  src: url("/fonts/NanumMyeongjo-Regular.eot?iefix") format("embedded-opentype");
   /* url("/fonts/NanumMyeongjo-Regular.woff") format("woff"),
    url("/fonts/NanumMyeongjo-Regular.ttf") format("truetype");*/
    font-display: fallback;
    font-style: lighter;
}
.contentWrap{
  
  flex: 1;
}
body{
  background-image: url(./backimg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 100%;
 
}
.none{
  
  height: 15vh;
  
}
.space{
  height:10vh;
}
.inputbox{
  width:60%;
  height: 40px;
  text-align: center;
  border-radius: 3px;
  border: 0px solid gray;
  border-bottom: 2px solid rgb(129, 121, 121);
  background-color: rgba(255, 255, 255, 0);
 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.signuptitle{
  color:black;
  
  width: 100wv;
  height: 50px;
  margin-left:10%;
  margin-right:10%;
  /*border-radius: 20px;*/
  text-align: left;
  font-size:large;
  /*background-color: rgb(22, 10, 71);*/
  
}
.signupcoment{
  color: black;
  border-bottom: 2px solid black;
  
  
  /*background-color: black;*/
}
.signupcoment2{
  font-size:large;
  /*color: rgb(129, 121, 121);*/
  color:rgb(129, 121, 121);
  
  
  /*background-color: black;*/
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.errorMessage{
  margin-top:8px;
  color:red;
  font-size: 12px;
}
.bottomButton{
  width: 100%;
  height:48px;
  border:none;
  font-weight: 600;
  background-color: #9e30f4;
  border-radius: 64px;
  color: white;
  cursor:pointer;
  margin-bottom: 16px;
  
  font-size: 17px;
}
.bottomButton:disabled{
  background-color: rgb(129, 121, 121);
  color:white;
}
.checkButton{
 
  
  margin-top: 10px;
  width: 15%;
  height:36px;
  border:none;
  font-weight: 600;
  background-color: #9e30f4;
  border-radius: 64px;
  color: white;
  cursor:pointer;
  margin-bottom: 16px;
  
  font-size: 14px;
}
.checkButton:disabled{
  background-color: rgb(129, 121, 121);
  color:white;
}
.inputgender{
  color:rgb(129, 121, 121);
}
select::-ms-expand {
  display: none;
}
.inputgender{
  width:60%;
  height: 40px;
  text-align: center;
  border-radius: 3px;
  border: 0px solid gray;
  border-bottom: 2px solid rgb(129, 121, 121);
  background-color: rgba(255, 255, 255, 0);
  color:rgb(129, 121, 121);
}
.inputgendercolor{
  color:black;
}