.star-rating {
  display: inline-block;
  font-size: 0;
  text-align: center;
}

.star {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(./empty-star-icon.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 0.1s ease-in-out;
}

.star.filled {
  background-image: url(./filled-star-icon.png);
  background-position: 0 0;
}
